h1 {
    color: #420DA8;
    font-size: 20vw;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h3 {
  margin: 15px 0px;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
}

/* Mobile only css */
.loc-image {
    object-fit:cover;
    max-width: 95%;
    height: 700px;
    max-height: 50%;
    box-shadow: 10px 10px 5px silver;
  }
  
/* Desktop only css */
@media (min-width: 1000px) {
.loc-image {
    max-width: 90%;
}
}

.loc-text {
text-align: left;
margin: 25px 50px;
font-size: 2vw;
}

.loc-description {
margin: 45px 0px;
}
  
  